@page
@model ContentModel
@{
    ViewData["Title"] = "Content";
    
}

<h4>@ViewData["Title"]</h4>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@

@foreach(var post in Model.MediaPosts.Data)
{
    <div class="row">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">@post.UserName</strong>
          <h3 class="mb-0">@post.Id</h3>
          <div class="mb-1 text-muted">@post.Timestamp</div>
          @* <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> *@
          @* <a href="#" class="stretched-link">Continue reading</a> *@
        </div>
        <div class="col-auto d-none d-lg-block">
          @{
            var url = post.MediaUrl;
          }
          <img width="250" height="250" src="@url" />
        </div>
      </div>
    </div>
</div>
}
<div class="row">
    <div class="col-md-6">
            <div><a href="@Model.RequestCodeUri">Request Temporary Code from Instagram</a></div>
            <div>@Model.TempData["response_body"]</div>
    </div>
